// Variables for colors and fonts
$light-background-color: #f0f0f0;
$white-color: #ffffff;
$black-color: black;
$hover-color: #5ac7ff;
$shadow-color: rgba(0, 0, 0, 0.19);
$shadow-color-light: rgba(0, 0, 0, 0.23);
$footer-text-color: rgba(0, 0, 0, 0.894);
$font-family-base: 'Montserrat', sans-serif;
$navbar-padding: 25px;
$navbar-height: 60px;
$navbar-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

// Base styles
html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  background-color: $light-background-color;
}

// Navbar styles
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: $navbar-height;
    background-color: #ffffff;
    padding: $navbar-padding;
    box-shadow: $navbar-shadow;
  
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style-type: none;
  
      li a {
        text-decoration: none;
        padding: 0 15px;
        display: flex;
        align-items: center;
        color: black;
        font-weight: bold;
        line-height: normal;
        
  
        &:hover {
          text-decoration: underline;
          color: #5ac7ff;
        }
      }
    }
  
    .navbar-logo {
      max-width: 120px;
      max-height: 100%;
      margin-right: 20px;
    }
  }

// Team section styles

footer {
    margin-top: auto;
    color: #f0f0f0e4;
    text-align: center;
    z-index: 3;
   
  }

  
  .header-parallax {
    background-image: url('/Big-Brain-Computing/assets/images/seattle2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 80%;
    background-position: center;
}

.header-parallax h1 {
    text-align: center;
    text-shadow: -1px 1px 0 #4f7cf7, 1px 1px 0 #3abdff, 1px -1px 0 #4f7cf7, -1px -1px 0 #3abdff;
    font-weight: 900;
    letter-spacing: 0.16em;
    font-size: 6em; 
    padding: 210px 0;
}

  
  
  main {
    background: #f5f5f5;
    position: relative;
    top: 600px;
    font-family: 'Raleway', sans-serif;
    color: #111111;
  }
  
  .container {
    padding: 0 26%;
  }
  
  .container h1 {
    padding: 1.2em 0 0 0;
    font-size: 3.5em;
    color: #212121;
  }
  .container h2 {
    padding:0 0 0.8em 0.4em;
    font-size:1.5em;
  }
  .container p {
    padding-bottom: 1em;
    font-size:1.6em;
    line-height: 1.5;
    color: #212121;
  }
  
  