.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Vertically center the items */
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            a {
                text-decoration: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;
            }
        }
    }

    &-logo {
        max-width: 120px;
        max-height: 100%;
        margin-right: 20px;
    }
}

ul {
    li {
        a {
            color: black;
            font-weight: bold;
            line-height: normal;
            padding: 0 15px;
            display: block;
            text-decoration: none;
        }
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-container {
    display: flex;
    overflow-x: auto;
}

.card {
    margin: 50px;
    padding: 50px;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    perspective: 1000px;
    height: 450px;
    opacity: 0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &.slide-in-left {
        animation-name: slideInFromLeft;
    }

    &.slide-in-right {
        animation-name: slideInFromRight;
    }

    &.slide-in-bottom {
        animation-name: slideInFromBottom;
    }

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        border-radius: 10px;
    }

    &.flipped .card-inner {
        transform: rotateY(180deg);
    }

    &-face {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    &-front {
        background-color: #fff;
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        h2 {
            font-size: 1.5em;
            margin: 0;
            color: #007bff;
        }

        .role {
            font-size: 1em;
            color: #666;
            margin-top: 10px;
        }
    }

    &-back {
        transform: rotateY(180deg);
        background-color: rgb(255, 255, 255);
        color: black;
    }

    .bio {
        margin-top: 15px;
    }
}

footer {
    margin-top: auto;
    color: #f0f0f0e4;
    text-align: center;
    z-index: 3;
   
  }

#bg-video {
    position: absolute;
    filter: brightness(1.2) contrast(1.1);
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

@media (min-width: 1188px) {
    .main-content {
        position: relative;
        height: 1000px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 80%;
        margin: 20px;
    }

    .navbar-logo {
        max-width: 80px;
    }

    .navbar {
        ul {
            li {
                a {
                    padding: 0 10px;
                }
            }
        }
    }

    footer {
        p {
            font-size: 4vw;
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        ul {
            flex-direction: column;
        }
    }

    .card {
        width: 90%;
    }

    footer {
        p {
            font-size: 5vw;
        }
    }
}
