html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(15, 15, 15);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  line-height: normal;
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: #5ac7ff;
}
.navbar .navbar-logo {
  max-width: 120px;
  max-height: 100%;
  margin-right: 20px;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-container {
  display: flex;
  overflow-x: auto;
}

.card {
  margin: 50px;
  padding: 50px;
  width: 300px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  perspective: 1000px;
  height: 450px;
  opacity: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.card.slide-in-left {
  animation-name: slideInFromLeft;
}
.card.slide-in-right {
  animation-name: slideInFromRight;
}
.card.slide-in-bottom {
  animation-name: slideInFromBottom;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card-front {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.card-front h2 {
  font-size: 1.5em;
  margin: 0;
  color: #007bff;
}
.card-front .role {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
}
.card-back {
  transform: rotateY(180deg);
  background-color: rgb(255, 255, 255);
  color: black;
}
.card .bio {
  margin-top: 15px;
}

footer {
  margin-top: auto;
  color: rgba(240, 240, 240, 0.8941176471);
  text-align: center;
  z-index: 3;
}

#bg-video {
  position: absolute;
  filter: brightness(1.2) contrast(1.1);
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 1188px) {
  .main-content {
    position: relative;
    height: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 20px;
  }
  .navbar-logo {
    max-width: 80px;
  }
  .navbar ul li a {
    padding: 0 10px;
  }
  footer p {
    font-size: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
  }
  .card {
    width: 90%;
  }
  footer p {
    font-size: 5vw;
  }
}

/*# sourceMappingURL=aboutus.css.map */
