$navbar-padding: 25px;
$navbar-height: 60px;
$navbar-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

// Global styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(15, 15, 15);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Navbar styles
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: $navbar-height;
  background-color: #ffffff;
  padding: $navbar-padding;
  box-shadow: $navbar-shadow;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li a {
      text-decoration: none;
      padding: 0 15px;
      display: flex;
      align-items: center;
      color: black;
      font-weight: bold;
      line-height: normal;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .navbar-logo {
    max-width: 120px;
    max-height: 100%;
    margin-right: 20px;
  }
}

// Background video
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

// Main content
main {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1;
  z-index: 3;
  padding: 50px 0; 
  width: 100%; 
}

// Home Container
.info-container {
  width: 100%; 
  padding: 200px;
  background-color: #f0f0f0; 
  box-sizing: border-box;
  z-index: 0;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  h2 { font-size: 5em;


  }
  
}

// Footer styles
footer {
  margin-top: auto;
  color: #f0f0f0e4;
  text-align: center;
  z-index: 3;
 
}


  
  
  