html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(15, 15, 15);
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  background-color: #ffffff;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navbar ul li a {
  text-decoration: none;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  line-height: normal;
}
.navbar ul li a:hover {
  text-decoration: underline;
  color: #5ac7ff;
}
.navbar .navbar-logo {
  max-width: 120px;
  max-height: 100%;
  margin-right: 20px;
}

.form-container {
  display: none;
  margin-top: 20px; /* Add margin to separate the image and form */
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 15%; /* Adjust the width of the form container as needed */
  background-color: #cfcfcf; /* Optional: add a background color to the form */
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
}

.form-group textarea {
  height: 75px; /* Adjust the height of the textarea as needed */
}

.form-group input[type="submit"] {
  background-color: #5ac7ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #4aadee;
}

.trees {
  position: relative;
  display: inline-block;
  width: 100%; /* Ensure the container fills its parent */
  overflow: hidden; /* Hide overflow content */
}

.trees img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* Stretch the image to cover the container */
}

.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15%; /* Adjust the height of the fade as needed */
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgb(15, 15, 15) 100%);
  pointer-events: none; /* Allow clicks to fall through the overlay */
}

.firstP {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the elements */
  z-index: 1; /* Ensure they're above the overlay */
  text-align: center; /* Center the text */
  color: rgb(8, 8, 8); /* Text color */
  width: 80%; /* Adjust width as needed */
  font-size: 40px;
  font-weight: bolder;
}

.secondP {
  position: absolute;
  top: 35%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the elements */
  z-index: 1; /* Ensure they're above the overlay */
  text-align: center; /* Center the text */
  color: rgb(8, 8, 8); /* Text color */
  width: 80%; /* Adjust width as needed */
  font-size: 20px;
  font-weight: bold;
}

.toggleForm {
  align-items: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 45px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 200px;
  left: 20px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.toggleForm:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.toggleForm:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.toggleForm:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


@media (max-width: 768px) {
  .form-group {
    width: 80%; /* Adjust the width for smaller screens */
  }
}

footer {
  margin-top: auto;
  color: rgba(240, 240, 240, 0.8941176471);
  text-align: center;
  z-index: 3;
}